<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>有凤来仪 - 小米10 Pro、Redmi 10X、小米MIX Alpha，小米电视官方网站</title>
    <meta name="description" content="莱水之畔，杜府之弦，精诚所至，有凤来仪！" />
    <meta name="keywords" content="小米,redmi,小米10,Redmi 10X,小米MIX Alpha,小米商城" />
    <!--处理样式-->
    <link rel="stylesheet" type="text/css" href="/static/home/css/reset.css">
    <!--公共的CSS-->
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <!--引入网页标题图标-->
    <link rel="shortcut icon" type="image/x-icon" href="/static/home/img/fengHuang.jpg">

    <!-- 采用html , css , js 分开写的原则
这里属于自己写的 css 部分 -->
    <link rel="stylesheet" href="/static/home/css/General style.css">
    <link rel="stylesheet" href="/static/home/css/header.css">
    <link rel="stylesheet" href="/static/home/css/iconfont.css">
    <link rel="stylesheet" href="/static/home/css/slideshow.css">
    <link rel="stylesheet" href="/static/home/css/home-hero.css">
    <link rel="stylesheet" href="/static/home/css/home-main.css">
    <link rel="stylesheet" href="/static/home/css/footer.css">
    <!-- 根据窗口大小动态的改变工具栏的样式，以及大小 -->
    <link rel="stylesheet" href="./css/subbar.css" media="all and (max-width:1499.99999px)">   <!-- 媒体查询1 -->
    <link rel="stylesheet" href="./css/subbar2.css" media="all and (min-width:1500px)">  <!-- 媒体查询2 -->

</head>
<body>

<h1>start</h1>


{__CONTENT__}


<h1>end</h1>

</body>
</html>